@model ToyStore.Models.Kartica

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kartica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojKartica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojKartica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MjesecIsteka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MjesecIsteka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GodinaIsteka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GodinaIsteka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KarticaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
