@model ToyStore.Models.Kartica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kartica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojKartica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojKartica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MjesecIsteka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MjesecIsteka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GodinaIsteka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GodinaIsteka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KarticaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
